task.dtd

<!ELEMENT softech (depatment)+>
<!ELEMENT department (senior|junior)+>
<!ELEMENT senior (id,name,email,post,salary)+>
<!ELEMENT junior (id,name,email,post,salary)+>
<!ELEMENT id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT post (#PCDATA)>
<!ELEMENT salary (#PCDATA)>
<!ATTLIST depatment name  CDATA #REQUIRED>